table{
    border: 0;
    padding:0;
    margin:0;
    border-collapse: collapse;
}

td{
    width: 5px;
    height: 5px;
    border: 1px solid black;
}

.deadCell{
    background: white;
}

.aliveCell{
    background: green;
}